/* 
    Document   : index
    Created on : Dec 8, 2012, 12:37:46 PM
    Author     : Alex
    Description:
        Purpose of the stylesheet follows.
*/

.clearfloat { /* this class shoultitlud be placed on a div or break element and should be the final element before the close of a container that should fully contain its child floats */
  clear: both;
  height: 0;
  margin:0;
  padding:0;
  font-size: 1px;
  line-height: 0px;
}


html, body, #map_canvas {
        margin: 0;
        padding: 0;
        height: 100%;
        font-family:"Segoe UI", Arial;
}
#menu
{
	min-width:1250px;
	position:relative;
	z-index:8000;
	height:40px;
	line-height:40px;
	padding-bottom:5px;
	text-align:center;
	background-color:#f4f4f4;
	border-bottom:solid 1px #777;
	
	-moz-box-shadow: 0px 0px 20px #888;
	-webkit-box-shadow: 0px 0px 20px #888;
	box-shadow: 0px 0px 20px #888;
}
.input-subnet
{
    width:40px;
    height:15px;
}
.input-container{
    text-align:center;
}

